<app-nav-bar></app-nav-bar>
<div class="Wall-Container">
    <div class="Left-Side-Wall">
        <app-left-wall></app-left-wall>
    </div>
    <div class="Middle-Wall-Container">
        <div class="ReelsAndStory-Container">
            <div class="actual-Story-Reel-Container">
                <a routerLinkActive="active" (click)="showOptions()" [ngClass]="{'active-Color': !showReel}"><h5><i class="fa fa-book"></i> Story</h5></a>
                |
                <a routerLinkActive="active" (click)="showOptions1()" [ngClass]="{'active-Color': !showStory}"><h5><i class="fa fa-tv"></i> Reels</h5></a> 
            </div>
            <div class="Story-Reels-Information">
                <div class="Story-Container"  [ngClass]="{'open': showStory}">
                    <img class="Story-Img" src="../assets/Images/2000-Calorie-Keto-Diet.jpg" alt="">
                 </div>
                 <div class="Reels-Container"[ngClass]="{'open': showReel}">
                     <img class="Reels-Img" src="../assets/Images/8346_p26_l.jpg" alt="">
                 </div>
            </div>
        </div>
        <div class="Create-a-Post-Container">
            <div class="actual-Create-a-Post">
                <div class="img-Input-Information">
                    <div class="img-Info-Container">
                        <img class="post-img2" src="../assets/Images/8346_p26_l.jpg" alt="">
                    </div>
                    <form [formGroup]="commentForm" class="input-Container-Create">
                        <input formControlName="comments" class="create-a-post-Input" value="What on your mind?" type="text" name="comment" id="commentId">
                    </form>  
                </div>
                <div class="post-Form">
                    <div class="Buttons">
                        <a (click)="modal.open('modelR-2');"><i class="fa fa-camera"></i> Photo</a>
                        <a><i class="fa fa-video-camera"></i> Video</a>
                        <a><i class="fa fa-hand-peace-o"></i> Feeling</a>
                    </div>
                </div>        
            </div>
        </div>
        <ng-container >
            <div class="Post-Container"*ngFor="let post of globalPost" >
                <div class="actualPost-Container">
                    <div class="information">
                        <img class="post-img1" src="../assets/Images/8346_p26_l.jpg" alt="">
                        <div class="Moreinformation">
                            <h5>heading</h5>
                            <p *ngIf="post.isMainComment">{{post.isMainComment}}</p>
                        </div>
                    </div>
                    <div class="video-Img-Container">
                        <ng-container *ngFor="let pics of post.photos">
                            <div class="post-Media-Container">
                                <img class="post-img" src="{{pics.photoUrl}}" alt="">
                            </div>
                        </ng-container>
                        <ng-container *ngFor="let vids of post.videos">
                            <div class="video-Container">
                                <video width="600" height="400" controls>
                                    <source src="{{vids.postVideos}}" type="video/mp4">
                                </video>
                            </div>
                        </ng-container>
                    </div>
                    <form class="post-Form"[formGroup]="likePostFrom">
                        <input type="text" readonly hidden #postID value="{{post.id}}">  
                        <div *ngIf="postID.value" class="LikeStatus" [ngClass]="{'menu-show': !openStatus}">
                            <input  class="Cool" type="button" value="" (click)="StatusValueCool(postID.value)" #statusID>
                            <input  class="Wonderful" type="button" value="" (click)="StatusValueWonderful(postID.value)" #statusID>
                            <input  class="Amazing" type="button" value="" (click)="StatusValueAmazing(postID.value)" #statusID>
                            <input  class="Outstanding" type="button" value="" (click)="StatusValueOutstanding(postID.value)" #statusID>
                            <input  class="TooCosmic" type="button" value="" (click)="StatusValueTooCosmic(postID.value)" #statusID>
                            <div class="triangle"></div>
                        </div>
                        <ng-container>
                            <p *ngIf="post.likeStatus.length > 0">{{post.likeStatus.length}}</p>
                        </ng-container> 
                        <div class="Buttons1">                             
                            <a (click)="OnLike(postID.value)">Like</a> 
                            <a>Comment</a>
                            <a>Share</a>
                        </div>
                    </form>
  
                </div>
            </div>
            <ng-template #context>
                <p>Nothing to show</p>
            </ng-template>
        </ng-container>
    </div>
    <div class="Right-Side-Wall">
        <app-right-wall></app-right-wall>
    </div>
</div>
<jw-modal id="modelR-2">
    <app-upload-image (onUploadImageSelected)="onImageSelect($event)"></app-upload-image>
</jw-modal>