<div class="right-Wall-Container">
    <h4 class="sponsor-Name">Sponsored</h4>
    <div class="sponsor-Info">
        <div class="sponsor-pic-and-Name">
            <img src="../assets/Images/8346_p26_l.jpg" alt="">
            <p class="actual-sponsor-Name">sponsor-Name-here</p>
        </div>
    </div>
    <div class="user-Pages-Profile sponsor-Info">
        <div class="title-container ">
            <h4>Your Pages and Profiles</h4>
            <div class="threedots"><i class="fa fa-ellipsis"></i>...</div>
        </div>
        <div class="pages-Pic-Name">
            <div class="page-Pic">
                <img src="../assets/Images/20210427_123828.jpg" alt="">
                <div class="page-Name">Too Cosmic is fantastic</div>
            </div>
            <div class="notifications-Plus">
                <p class="noti-Info"><i class="fa fa-bell"></i> Notifications</p>
                <p class="switch-to-Page"><i class="fa fa-user"></i> Switch to page</p>
                <p class="create-promo"> <i class="fa fa-phone"></i> Create promotion</p>
            </div>
        </div>
    </div>
    <div class="friendRequest-Info">
        <div class="friendRequest-Title">
            <h4>Friend requests</h4>
            <a class="seeAll"> See all</a>
        </div>
        <div class="actual-friendRequest-Info">
            <img src="../assets/Images/20210427_123828.jpg" alt="">
            <div class="actual-Info-Of-Friend">
                <p>Danny boy</p>
                <p>add mutual friends here!</p>
                <div class="confrim-delete">
                    <input class="confirmButton" type="button" value="Confirm">
                    <input type="button" value="Delete">
                </div>
            </div>
        </div>
    </div>
    <div class="birthdays">
        <div class="birthTitle">
            <h4>Birthdays</h4>
        </div>
        <div class="birthInfo">
            <img src="../assets/Images/Happy.png" alt="">
            <div class="birthdays-Information">
                <p>many people have birthdays today</p>
                <p>check em out!</p>
            </div>
        </div>
    </div>
    <div class="contacts-Information">
        <div class="contact-Title">
            <h4>Contacts</h4>
            <div class="icons-for-info">
                <i class="fa fa-video-camera"></i>
                <i class="fa fa-search"></i>
                <i class="">...</i>
            </div>
        </div>
        <div>
            
        </div>
    </div>
</div>
