<div class="leftWall-Container">
    <div class="topOfContainer">
        <div class="profile-Link">
            <i class="home-Icon fa fa-home"></i>
            <a routerLinkActive="active" class="home-Link">Home</a>
        </div>
        <div class="profile-Link">
            <img src="../assets/Images/20210427_123828.jpg" alt="">
            <a routerLinkActive="active" class="profile-Name">Normand Jean</a>
        </div>
        <hr class="hRL">
    </div>
    <div class="secondPart">
        <div class="profile-Link">
            <i class="home-Icon fa fa-group"></i>
            <a routerLinkActive="active" class="home-Link">Friends</a>
        </div>
        <div class="profile-Link">
            <i class="home-Icon fa fa-download"></i>
            <a routerLinkActive="active" class="home-Link">Saved</a>
        </div>
        <div class="profile-Link">
            <i class="home-Icon fa fa-gear"></i>
            <a routerLinkActive="active" class="home-Link">Most Recent</a>
        </div>
        <div class="profile-Link">
            <i class="home-Icon fa fa-list-alt"></i>
            <a routerLinkActive="active" class="home-Link">Groups</a>
        </div>
        <div class="profile-Link">
            <i class="home-Icon fa fa-bookmark"></i>
            <a routerLinkActive="active" class="home-Link">Marketplace</a>
        </div>
        <div class="profile-Link">
            <i class="home-Icon fa fa-map-marker"></i>
            <a routerLinkActive="active" class="home-Link">See All</a>
        </div>
        <hr class="hRL">
    </div>
    <div class="thirdPart">
        <div class="profile-Link">
            <img src="../assets/Images/2020-09-24.png">
            <a routerLinkActive="active" class="home-Link">Speaker Lovers</a>
        </div>
        <div class="profile-Link">
            <img src="../assets/Images/2020-09-24.png">
            <a routerLinkActive="active" class="home-Link">All Them Grapes</a>
        </div>
        <div class="profile-Link">
            <img src="../assets/Images/2020-09-24.png">
            <a routerLinkActive="active" class="home-Link">Sonic Crew</a>
        </div>
        <div class="profile-Link">
            <i class="home-Icon fa fa-asterisk"></i>
            <a routerLinkActive="active" class="home-Link">See all Groups</a>
        </div>
        <hr class="hRL">
    </div>
    <div class="thirdPart">
        <div class="profile-Link">
            <img src="../assets/Images/2000-Calorie-Keto-Diet.jpg" alt="">
            <a routerLinkActive="active" class="home-Link">Bejeweled</a>
        </div>
        <div class="profile-Link">
            <img src="../assets/Images/2000-Calorie-Keto-Diet.jpg" alt="">
            <a routerLinkActive="active" class="home-Link">8 ball pool</a>
        </div>
        <div class="profile-Link">
            <img src="../assets/Images/2000-Calorie-Keto-Diet.jpg" alt="">
            <a routerLinkActive="active" class="home-Link">Blitz</a>
        </div>
        <div class="profile-Link">
            <img src="../assets/Images/2000-Calorie-Keto-Diet.jpg" alt="">
            <a routerLinkActive="active" class="home-Link">Blast saga</a>
        </div>
        <div class="profile-Link">
            <img src="../assets/Images/2000-Calorie-Keto-Diet.jpg" alt="">
            <a routerLinkActive="active" class="home-Link">Mortal Combat</a>
        </div>
        <div class="profile-Link">
            <i class="home-Icon fa fa-share-square-o"></i>
            <a routerLinkActive="active" class="home-Link">See all shortcuts</a>
        </div>
    </div>
</div>
<app-wall-footer></app-wall-footer>

