.active{
    color: rgb(8, 248, 248);
}
.topOfContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .5rem;
}
.profile-Name{
    font-size: .9rem;
}
.home-Icon{
    font-size: 1.5rem;
    color: lightblue;
    width: 6%;
}
.profile-Link{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.2rem;
}
.profile-Link img{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50px;
}
.hRL{
    width: 65%;
}
.secondPart{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .5rem;
}
.thirdPart{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .5rem;
}
.home-Link{
    font-size: .9rem;
}