<nav class="FaceNav">
    <div class="FaceLogo">
        <img src="../assets/Images/logo4.png" alt="">
    </div>
    <div class="FaceSearch">
        <input type="search" placeholder="Search"> 
        <i class="fa fa-search moveSearch"></i>
    </div>
    <div class="FaceUserETC">
        <div class="theWorld">
            <i class="fa fa-globe"></i>
        </div>
        <div class="theMessages">
            <i class="fa fa-envelope"></i>
        </div>
        <div class="theProfilePic">
            <img src="../assets/Images/20210427_123828.jpg" alt="">
        </div>
    </div>
</nav>
